<section class="container-fluid">
    <h3 class="text-center">Registrar servicio</h3>
    <form>
      <p class = "col-12">
          <label>Tipo de documento del técnico</label>
          <select class="form-select">
              <option value="1">CC</option>
              <option value="2">CE</option>
          </select>
      </p>

      <p class = "col-12">
          <label>Número de documento del técnico</label>
      <input class="form-control" type="text" placeholder="Ingrese el ID del técnico" size="20" required>
      </p>

      <p class = "col-12">
      <label for="Servicio">Seleccione el tipo de servicio</label>
      <select class="form-select" name="Tipo de servicio" id="Servicio" required>
          <option value = "1">Instalación</option>
          <option value = "2">Reparación</option>
      </select>
      </p>

      <p class = "col-12">
          <label>Fecha de inicio</label>
          <input class="form-control" type="datetime-local" id="datetime-local" name="trip-start" required>
      </p>

      <p class = "col-12">
          <label>Fecha fin</label>
          <input class="form-control" type="datetime-local" name="trip-end"required>
      </p>
      <p class = "col-12">
          <input class="btn btn-primary" type="submit" value="Enviar formulario" required>
      </p>

  </form>
</section>
